<div class="main_header_section">
    <div class="main_header">
        <p>Dashboard / Employees</p>
        <h1>Employees</h1>
    </div>
    <div class="header_actions">
        <input type="text" placeholder="Search..." class="search" id="search" onkeyup="Search()">
        <span class="material-symbols-outlined">notifications</span>
        <img src="Assets/Images/avatar.png" alt="">
    </div>
</div>