<div class="sidebar">
    <div class="sidebar_heading">
        <h3 class="emp">Employee</h3>
        <h3 class="mgmt">Management</h3>
    </div>
    <div class="sidebar_content">
        <div class="sidebar_row">
            <span class="material-symbols-outlined">home</span>
            <p>Dashboard</p>
        </div>
        <div class="sidebar_row">
            <span class="material-symbols-outlined">badge</span>
            <p>Employees</p>
        </div>
        <div class="sidebar_row">
            <span class="material-symbols-outlined">person</span>
            <p>My Profile</p>
        </div>
        <div class="sidebar_row">
            <span class="material-symbols-outlined">logout</span>
            <p>Logout</p>
        </div>
    </div>
    <div class="sidebar_footer">
        <p>Powered By</p>
        <img src="/Assets/Images/stackup.png" alt="">
    </div>
</div>